body {
  font: 16px/20px arial, same-serif;
  background-color: #00008b;
  background-image: url(coverloki.jpg);
  color: #333;
}

.container {
  width: 800px;
  margin: auto;
  background-color: black;
}

.header {
  padding: 20px;
  padding-bottom: 10px;
}

.header .judul {
  font-size: 40px;
  font-weight: bold;
}

.container h4 {
  color: white;
}

.content {
  color: white;
}

.header ul li {
  display: inline-block;
  margin-top: 20px;
  margin-right: 10px;
}

.header a {
  text-decoration: none;
  color: salmon;
  padding: 3px;
}

.header a:hover {
  background-color: lightskyblue;
  color: white;
}

.footer {
  background-color: #333;
  padding: 10px;
}

.footer .copyright {
  color: #eaeaea;
  text-align: center;
  font-size: 12px;
}

.btn {
  padding: 12px 14px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  opacity: 1;
}

.ig {
  background-color: #c13584;
  margin-top: 20px;
  margin-left: 20px;
  text-decoration: none;
}

.fb {
  background-color: #00008b;
  margin-top: 20px;
  margin-left: 20px;
  text-decoration: none;
}

.twt {
  background-color: lightskyblue;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  text-decoration: none;
}

.fa {
  margin-right: 5px;
  text-align: justify;
}
