body {
    background-color: aqua;
    font-family: georgia;
}

h1 {
    font-family: comic san ms;
    font-size: 60px;
    color: darkblue;
}

h4 {
    text-align="right"
    text-decoration: italic;
}

p {
    text-align: justify;
}

#teks1 {
    color: gold;
}

